.response {
    margin-top: 3em;
    margin-left: 1em;
}

.responseNoteLinkSpan {
    margin-top: 3em;
    margin-left: 1em;
    color: cornflowerblue;
    text-decoration-line: none;
}


.inviteAttendeesForm {
    align-content: center;
    background-color: ghostwhite;
    width: 100%;
    padding-top: 1em;
    padding-bottom: 1.5em;
    border: none;
    border-radius: 0.5em;
}

.inviteAttendeesForm input {
    margin-bottom: 2em;
    background-color: white;
    border-radius: 3px;
    resize: none;
    padding: 0.5em;
    border: none;
}

.inviteAttendeesForm input:focus {
    border-bottom: 2px solid orange;
}
