.btn-group button {
    background-color: white;
    border: 1px solid lawngreen;
    padding: 10px 24px;
    cursor: pointer;
    float: left;
    border-right: none;
}

.btn-group button:hover {
    background-color: lawngreen;
}

.btn-group:after {
    content: "";
    clear: both;
    display: table;
}

.btn-group {
    border: 2px solid lawngreen;
    border-radius: 7px;
    width: fit-content;
}

body {
    font-family: Roboto, Arial, sans-serif;
}
